/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2017, 2:52:44 PM
    Author     : Rashid
*/
.navbar-inverse {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
}

.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
}

label.fixed {
    width: 95px !important;
}

.custom-panel-heading {
    height: 40px !important;
}


#page-wrapper {
    margin-top: 60px;
}

.low-top-margin {
    margin-top: 5px;
}

.margin-top {
    margin-top: 10px;
}

.no-padding {
    padding: 0px;
}

.action-icon {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.highlightner {
    background: #FFFF66;
}

hissas-container {
    border: 1px solid #ddd;
    padding: 5px;
}

