<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOR | Hissas Calculation Assistant</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">HCA</a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href=""><i class="fa fa-home fa-fw"></i> Home</a></li>
                </ul>
                <ul class="nav navbar-right navbar-top-links">

                </ul>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div id="app">
                        <div v-if="isError" class="alert alert-danger alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error!</strong> {{errorMessage}}
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label class="fixed" for="name">Person Name: </label>
                                        <input type="text" class="form-control" id="name" v-model="person.name" maxlength="25" placeholder="Person Name">
                                    </div>
                                    <div class="form-group">
                                        <label class="fixed" for="share">Share: </label>
                                        <input type="number" class="form-control" v-model="person.share" v-on:keyup.enter="addPerson" id="share" placeholder="Share">
                                    </div>
                                    <button type="button" class="btn btn-primary" v-on:click="addPerson" title="Person name and share within a group">Add</button>
                                </form>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label class="fixed" for="dar">Group Dar:</label>
                                        <input type="number" class="form-control" v-model="groupDar.value" title="Dar for Selected Group" placeholder="Dar for Group" id="dar" maxlength="4">
                                    </div>
                                    <div class="form-group">
                                        <label class="fixed" for="share">Total Shares: </label>
                                        <input type="number" class="form-control" v-model="groupDar.total" v-on:keyup.enter="addDar" title="Total Hissay of Dar" placeholder="Total Hissay" id="dar" maxlength="4">
                                    </div>
                                    <button type="button" v-on:click="addDar"  class="btn btn-primary low-top-margin">Add</button>
                                    <span class="pull-right"><button type="button" v-on:click="resetEnv" class="btn btn-warning">Reset Environment</button></span>
                                </form>

                                <div class="panel panel-default margin-top">
                                    <div class="panel-heading custom-panel-heading">
                                        <span class="pull-left"><b>Hissas Details</b></span>
                                        <span class="pull-right"><b>Total Shares: {{grandTotal}}</b></span>
                                    </div>
                                    <div class="panel-body">
                                        <div v-for="group in stakeHolderGroupList" class="col-md-6">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">{{group.name}}</div>
                                                <div class="panel-body no-padding">
                                                    <table class="table table-stripped">
                                                        <tbody>
                                                            <tr>
                                                                <th>Person</th>
                                                                <th>Share</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>

                                                            <tr v-for="holder in group.persons">
                                                                <td>{{holder.person.name}}</td>
                                                                <td>{{holder.person.share}}</td>
                                                                <td>{{holder.person.computedShare}}</td>
                                                                <td>
                                                                    <a href="#" v-on:click="editPerson(holder.person, group)"><i class="fa fa-edit alert-info action-icon"></i></a>
                                                                    <a href="#" v-on:click="delPerson(holder.person, group)"><i class="fa fa-trash alert-danger action-icon"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4"><b>Applied Dars</b></td>
                                                            </tr>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Dar</th>
                                                                <th>Total</th>
                                                            </tr>
                                                            <tr v-for="dr in group.dars">
                                                                <td>{{dr.dar.index}}</td>
                                                                <td>{{dr.dar.value}}</td>
                                                                <td>{{dr.dar.total}}</td>
                                                                <td colspan="2" class="action-icon">
                                                                    <a href="#" v-on:click="editDar(dr.dar, group)"><i class="fa fa-edit alert-info action-icon"></i></a>
                                                                    <a href="#" v-on:click="delDar(dr.dar, group)"><i class="fa fa-trash alert-danger action-icon"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="panel-footer">
                                                    <span><b>Total Shares: {{group.groupShare}}</b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="name">Groups Management</label>
                                    <input type="text" class="form-control" v-model="group.name" v-on:keyup.enter="addGroup" placeholder="New Group Name" id="grp" maxlength="25">
                                    <button type="button" v-on:click="addGroup" class="btn btn-primary low-top-margin">Add Group</button>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">Groups</div>
                                    <div class="panel-body no-padding">
                                        <table id="tbl-groups" class="table table-stripped">
                                            <tbody>
                                                <tr v-for="grp in groups" v-bind:class="{highlightner: grp.isActive}">
                                                    <td>
                                                        <a href="#" @click="selectGroup(grp)"><i class="fa fa-check alert-success action-icon"></i></a>
                                                    </td>
                                                    <td>{{grp.name}}</td>
                                                    <td>
                                                        <a href="#" @click="removeGroup(grp)"><i class="fa fa-trash alert-danger action-icon"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="panel-footer">
                                        <span><b>Selected Group: {{selectedGroup.name}}</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/vue.min.js"></script>
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
